In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('sample-csv-files-sample4.csv')

In [6]:
# Import the requests library to fetch the CSV from the web
import requests

# Import pandas for working with tabular data
import pandas as pd

# Import StringIO to treat a string like a file (needed for pandas to read)
from io import StringIO

# The URL of the CSV file you want to download
url = 'https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv'

# Send an HTTP GET request to the URL and store the response
response = requests.get(url)

# Convert the text content of the response to a file-like object
csv_data = StringIO(response.text)

# Define the column names you want for the DataFrame
column_names = ['First Name', 'Last Name', 'Address', 'City', 'State', 'ZIP']

# Read the CSV data into a pandas DataFrame
# - names=column_names assigns your custom headers
# - header=None tells pandas not to treat the first line as a header
df = pd.read_csv(csv_data, names=column_names, header=None)

# Print the first few rows of the DataFrame to verify it's loaded correctly
print(df.head())

      First Name Last Name                           Address       City State  \
0           John       Doe                 120 jefferson st.  Riverside    NJ
1           Jack  McGinnis                      220 hobo Av.      Phila    PA
2  John "Da Man"    Repici                 120 Jefferson St.  Riverside    NJ
3        Stephen     Tyler  7452 Terrace "At the Plaza" road   SomeTown    SD
4            NaN  Blankman                               NaN   SomeTown    SD

     ZIP
0   8075
1   9119
2   8075
3  91234
4    298

In [7]:
# Path to the TSV file
# Specify tab character as the delimiter
# Custom column names
# Don't treat the first line as header; use the provided names

# Read a TSV (Tab-Separated Values) file using pandas
df3 = pd.read_csv('sample-1.tsv',sep='\t',names=['sno', 'movie', 'release year', 'votes', 'genre'],header=None )

# Display the first few rows of the DataFrame to confirm successful import
df3.head()

                                                                                                    sno  \
NaN NaN     NaN NaN NaN NaN NaN NaN NaN NaN      NaN NaN NaN NaN NaN NaN NaN NaN   NaN NaN NaN NaN  NaN
    JANUARY NaN NaN NaN NaN NaN NaN NaN FEBRUARY NaN NaN NaN NaN NaN NaN NaN MARCH NaN NaN NaN NaN  NaN
    S       M   T   W   T   F   S   NaN S        M   T   W   T   F   S   NaN S     M   T   W   T      F
    NaN     NaN NaN NaN NaN NaN 1   NaN NaN      NaN 1   2   3   4   5   NaN NaN   NaN 1   2   3      4
    2       3   4   5   6   7   8   NaN 6        7   8   9   10  11  12  NaN 6     7   8   9   10    11

                                                                                                   movie  \
NaN NaN     NaN NaN NaN NaN NaN NaN NaN NaN      NaN NaN NaN NaN NaN NaN NaN NaN   NaN NaN NaN NaN   NaN
    JANUARY NaN NaN NaN NaN NaN NaN NaN FEBRUARY NaN NaN NaN NaN NaN NaN NaN MARCH NaN NaN NaN NaN   NaN
    S       M   T   W   T   F   S   NaN S        M   T   W   T   F   S   NaN S     M   T   W   T       S
    NaN     NaN NaN NaN NaN NaN 1   NaN NaN      NaN 1   2   3   4   5   NaN NaN   NaN 1   2   3       5
    2       3   4   5   6   7   8   NaN 6        7   8   9   10  11  12  NaN 6     7   8   9   10     12

                                                                                                    release year  \
NaN NaN     NaN NaN NaN NaN NaN NaN NaN NaN      NaN NaN NaN NaN NaN NaN NaN NaN   NaN NaN NaN NaN           NaN
    JANUARY NaN NaN NaN NaN NaN NaN NaN FEBRUARY NaN NaN NaN NaN NaN NaN NaN MARCH NaN NaN NaN NaN           NaN
    S       M   T   W   T   F   S   NaN S        M   T   W   T   F   S   NaN S     M   T   W   T             NaN
    NaN     NaN NaN NaN NaN NaN 1   NaN NaN      NaN 1   2   3   4   5   NaN NaN   NaN 1   2   3             NaN
    2       3   4   5   6   7   8   NaN 6        7   8   9   10  11  12  NaN 6     7   8   9   10            NaN

                                                                                                     votes  \
NaN NaN     NaN NaN NaN NaN NaN NaN NaN NaN      NaN NaN NaN NaN NaN NaN NaN NaN   NaN NaN NaN NaN  2022.0
    JANUARY NaN NaN NaN NaN NaN NaN NaN FEBRUARY NaN NaN NaN NaN NaN NaN NaN MARCH NaN NaN NaN NaN     NaN
    S       M   T   W   T   F   S   NaN S        M   T   W   T   F   S   NaN S     M   T   W   T       NaN
    NaN     NaN NaN NaN NaN NaN 1   NaN NaN      NaN 1   2   3   4   5   NaN NaN   NaN 1   2   3       NaN
    2       3   4   5   6   7   8   NaN 6        7   8   9   10  11  12  NaN 6     7   8   9   10      NaN

                                                                                                                                                genre
NaN NaN     NaN NaN NaN NaN NaN NaN NaN NaN      NaN NaN NaN NaN NaN NaN NaN NaN   NaN NaN NaN NaN  Create more with themes              Go to  Fo...
    JANUARY NaN NaN NaN NaN NaN NaN NaN FEBRUARY NaN NaN NaN NaN NaN NaN NaN MARCH NaN NaN NaN NaN                                                NaN
    S       M   T   W   T   F   S   NaN S        M   T   W   T   F   S   NaN S     M   T   W   T                                                  NaN
    NaN     NaN NaN NaN NaN NaN 1   NaN NaN      NaN 1   2   3   4   5   NaN NaN   NaN 1   2   3                                                  NaN
    2       3   4   5   6   7   8   NaN 6        7   8   9   10  11  12  NaN 6     7   8   9   10                                                 NaN

In [12]:
#use cols only take those colums of dataset which are needed 
df = pd.read_csv(
    'sample-1.tsv',                         # TSV file path
    sep='\t',                               # Tab-separated
    names=['sno', 'movie', 'genre'],  # Custom headers
    header=None,                            # Don't use first line as header
    usecols=[0, 1,4]                       # Select only columns by index: sno, movie, genre
)

In [13]:
df.head()

   sno    movie genre
0  NaN      NaN   NaN
1  NaN  JANUARY   NaN
2  NaN        S     W
3  NaN      NaN   NaN
4  NaN        2     5

In [14]:
df = pd.read_csv(
    'sample-1.tsv',                                # Path to the TSV file
    sep='\t',                                      # Use tab as the delimiter
    names=['sno', 'movie', 'release year', 'votes', 'genre'],  # Custom column names
    header=None,                                   # Do not treat the first row as header
    encoding='utf-8',                              # Set file encoding to UTF-8
    on_bad_lines='skip'                            # Skip lines with malformed data (bad lines)
)
df.head()

                                                                                                    sno  \
NaN NaN     NaN NaN NaN NaN NaN NaN NaN NaN      NaN NaN NaN NaN NaN NaN NaN NaN   NaN NaN NaN NaN  NaN
    JANUARY NaN NaN NaN NaN NaN NaN NaN FEBRUARY NaN NaN NaN NaN NaN NaN NaN MARCH NaN NaN NaN NaN  NaN
    S       M   T   W   T   F   S   NaN S        M   T   W   T   F   S   NaN S     M   T   W   T      F
    NaN     NaN NaN NaN NaN NaN 1   NaN NaN      NaN 1   2   3   4   5   NaN NaN   NaN 1   2   3      4
    2       3   4   5   6   7   8   NaN 6        7   8   9   10  11  12  NaN 6     7   8   9   10    11

                                                                                                   movie  \
NaN NaN     NaN NaN NaN NaN NaN NaN NaN NaN      NaN NaN NaN NaN NaN NaN NaN NaN   NaN NaN NaN NaN   NaN
    JANUARY NaN NaN NaN NaN NaN NaN NaN FEBRUARY NaN NaN NaN NaN NaN NaN NaN MARCH NaN NaN NaN NaN   NaN
    S       M   T   W   T   F   S   NaN S        M   T   W   T   F   S   NaN S     M   T   W   T       S
    NaN     NaN NaN NaN NaN NaN 1   NaN NaN      NaN 1   2   3   4   5   NaN NaN   NaN 1   2   3       5
    2       3   4   5   6   7   8   NaN 6        7   8   9   10  11  12  NaN 6     7   8   9   10     12

                                                                                                    release year  \
NaN NaN     NaN NaN NaN NaN NaN NaN NaN NaN      NaN NaN NaN NaN NaN NaN NaN NaN   NaN NaN NaN NaN           NaN
    JANUARY NaN NaN NaN NaN NaN NaN NaN FEBRUARY NaN NaN NaN NaN NaN NaN NaN MARCH NaN NaN NaN NaN           NaN
    S       M   T   W   T   F   S   NaN S        M   T   W   T   F   S   NaN S     M   T   W   T             NaN
    NaN     NaN NaN NaN NaN NaN 1   NaN NaN      NaN 1   2   3   4   5   NaN NaN   NaN 1   2   3             NaN
    2       3   4   5   6   7   8   NaN 6        7   8   9   10  11  12  NaN 6     7   8   9   10            NaN

                                                                                                     votes  \
NaN NaN     NaN NaN NaN NaN NaN NaN NaN NaN      NaN NaN NaN NaN NaN NaN NaN NaN   NaN NaN NaN NaN  2022.0
    JANUARY NaN NaN NaN NaN NaN NaN NaN FEBRUARY NaN NaN NaN NaN NaN NaN NaN MARCH NaN NaN NaN NaN     NaN
    S       M   T   W   T   F   S   NaN S        M   T   W   T   F   S   NaN S     M   T   W   T       NaN
    NaN     NaN NaN NaN NaN NaN 1   NaN NaN      NaN 1   2   3   4   5   NaN NaN   NaN 1   2   3       NaN
    2       3   4   5   6   7   8   NaN 6        7   8   9   10  11  12  NaN 6     7   8   9   10      NaN

                                                                                                                                                genre
NaN NaN     NaN NaN NaN NaN NaN NaN NaN NaN      NaN NaN NaN NaN NaN NaN NaN NaN   NaN NaN NaN NaN  Create more with themes              Go to  Fo...
    JANUARY NaN NaN NaN NaN NaN NaN NaN FEBRUARY NaN NaN NaN NaN NaN NaN NaN MARCH NaN NaN NaN NaN                                                NaN
    S       M   T   W   T   F   S   NaN S        M   T   W   T   F   S   NaN S     M   T   W   T                                                  NaN
    NaN     NaN NaN NaN NaN NaN 1   NaN NaN      NaN 1   2   3   4   5   NaN NaN   NaN 1   2   3                                                  NaN
    2       3   4   5   6   7   8   NaN 6        7   8   9   10  11  12  NaN 6     7   8   9   10                                                 NaN

In [15]:
# Read CSV file and parse the 'date' column as datetime objects
# Earlier, the 'date' column was considered as a string by default
# Now, with parse_dates=['date'], pandas converts it to datetime type for easier filtering
df = pd.read_csv('sample.csv', parse_dates=['date'])
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'sample.csv'